.grid {
   width: 70vh;
   height: 70vh;
   margin-top: 12vh;
   margin-right: 1vw;

   display: grid;
   grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

@media only screen and (max-width: 800px) {
   .grid {
      width: 80vw;
      height: 80vw;
      margin-top: 20vh;
   }
}
