.keyboard {
   width: 30vh;
   height: 50vh;
   margin-top: 12vh;
   display: grid;
   margin-left: 1vw;

   grid-template-rows: 2fr 3fr 3fr 3fr 2fr 2fr;
   grid-template-columns: 1fr 1fr 1fr;

   grid-template-areas:
      "s s s"
      "1 2 3"
      "4 5 6"
      "7 8 9"
      "x x x"
      "r r r";

   button {
      text-shadow: none;
      outline: none;
      background: none;
      border: 1px solid black;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      h4 {
         font-size: 1.5vw;
         letter-spacing: 2px;
         font-weight: normal;
         margin: 0;
      }
   }

   button:hover {
      background-color: rgba(200, 200, 200, 0.4);
      cursor: pointer;
   }
   button:active {
      background-color: rgba(200, 200, 200, 0.75);
   }

   .delete-button {
      grid-area: x;
      border-left: 1px solid black;
      border-bottom: 0px;
      border-top: 0px;
   }

   .solve-button {
      grid-area: s;
      border-bottom: 0px;
   }

   .reset-button {
      grid-area: r;
   }
}

.animating-overlay {
   background-color: white;
   z-index: 2;
   width: 30vh;
   height: 50vh;
   margin-top: 12vh;
   margin-left: 1vw;
   position: absolute;
   border: 1px solid black;
   display: flex;
   align-items: center;
   justify-content: center;
   h2 {
      font-weight: normal;
   }
}

.hidden {
   display: none;
}

@media only screen and (max-width: 800px) {
   .keyboard {
      margin-top: 5vh;
      margin-bottom: 2vh;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas:
         "1 2 3 4 5 6 7 8 9"
         ". . . . . . . . ."
         "s s s x x x r r r";
      width: 80vw;
      height: 15vh;
      .delete-button,
      .solve-button,
      .reset-button {
         border: 0px;
         flex-direction: column;
         svg {
            transform: scale(0.5);
         }
      }
   }
   .animating-overlay {
      width: 80vw;
      height: 15vh;
      margin-top: 5vh;
      border: none;
   }
}

@media only screen and (max-width: 1024px) {
   .keyboard {
      button {
         h4 {
            font-size: 2vw;
         }
      }
      .key {
         h4 {
            font-size: 3vw;
         }
      }
   }
}

@media only screen and (max-width: 768px) {
   .keyboard {
      button {
         h4 {
            font-size: 3vw;
         }
      }
      .key {
         h4 {
            font-size: 3.5vw;
         }
      }
   }
}

@media only screen and (max-width: 600px) {
   .keyboard {
      button {
         h4 {
            font-size: 5vw;
         }
      }
      .key {
         h4 {
            font-size: 6.5vw;
         }
      }
   }
}
