.cell {
   width: auto;
   height: auto;
   border-bottom: 1px solid black;
   border-right: 1px solid black;
   text-align: center;
   vertical-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   h3 {
      font-weight: normal;
      margin: 0;
      font-size: 2vw;
   }
}
.cell-left {
   border-left: 2px solid black;
}
.cell-right {
   border-right: 2px solid black;
}
.cell-top {
   border-top: 2px solid black;
}
.cell-bottom {
   border-bottom: 2px solid black;
}
.cell-box-vertical {
   border-right: 2px solid black;
}
.cell-box-horizontal {
   border-bottom: 2px solid black;
}
.cell-selected {
   background-color: rgba(200, 200, 200, 0.75);
}

.cell:hover {
   background-color: rgba(200, 200, 200, 0.4);
   cursor: pointer;
}

.cell:active {
   background-color: rgba(200, 200, 200, 0.75);
}

.animating {
   background: #b09398;
}

.invalid {
   background-color: #e052549a;
}

@media only screen and (max-width: 1024px) {
   .cell {
      h3 {
         font-size: 3vw;
      }
   }
}

@media only screen and (max-width: 768px) {
   .cell {
      h3 {
         font-size: 4vw;
      }
   }
}

@media only screen and (max-width: 600px) {
   .cell {
      h3 {
         font-size: 5vw;
      }
   }
}
